body {
    margin: 0;
    background: #f0f0d6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.header {
    width: 100%;
    background: #f9f7ee;
    bottom: -30px;
}

.header:hover {
    background: #e6e4d4;
}

.header:active {
    background: #dad8ca;
}

.entablature-image {
    width: 100%;
    display: block;
    cursor: pointer;
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 40pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p {
    font-size: 18pt;
    text-align: center;
    padding: 3px
}

.disclaimer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: black;
}

#body-container {
    width: 100%;
    display: inline-flex;
    justify-content:space-between;
}

#content-container-container {
    display: inline-block;
    margin: auto;
    /* width: 70%; */
}

#content-container {
    display: inline-flex;
    justify-content:space-between;
}

#text-container {
    vertical-align: top;
    width: 50%;
    padding: 10px;
    display: inline-block;
}

#image-container {
    padding: 20px;
    margin: auto;
    position: relative;
}

.button-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 18px;
}

.single-button-container {
    justify-content: center;
}

.main-button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    display: block;
    width: 80px;
    background-color: #e0d7c1;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-button:hover {
    background-color: #e1bb9f;
    cursor: pointer;
}

.main-button:active {
    background-color: #d0ad94;
}


.places {
    font-size: 16pt;
    color: #351616;
    list-style-type:lower-greek;
    position: absolute;
}

.places:hover {
    background: rgba(255, 247, 0, 0.4);
}

.carthage {
    top: 200px;
    left: 95px
}

.crete {
    top: 225px;
    left: 375px
}

.egypt {
    top: 315px;
    left: 470px
}

.sicily {
    top: 180px;
    left: 183px
}

.sparta {
    top: 183px;
    left: 315px;
}



table, td {
    width: 55%;
    margin: auto;
    border: 1.5px solid;
    background: #f7f7ee;
}

td + td {
    text-align: center;
}

td {
    padding: 6px;
}

.footer {
    width: 100%;
    height: 69px;
    background: #e3e3da;
    margin-top: -3px;
    outline: 1.5px solid;
    outline-color: #222222;
}
